/* fonts */
@font-face {
    font-family: "Oswald";
    src: url('../fonts/Oswald.ttf');
}
@font-face {
    font-family: "Tw";
    src: url('../fonts/TwCenMT.ttf');
}
@font-face {
    font-family: "TwBI";
    src: url('../fonts/TwCenMTBoldItalic');
}

/*
        RESET & BASIC SETUP
*/
html, body {
    height: 100%;
}

* {
    margin: 0; 
    padding: 0; 
}

body {
    font-weight: 100;
    font-family: Oswald;
    text-align: center;
    background: #10262b;
    color: white;
}

section p img {
    width: 500px;
}

/* pour zoomcomic*/
.csstransforms #container {
    position: static;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
}

/* pour horiz articles*/
tr { 
    vertical-align: middle;
}

/* pied-de-page */
footer {
    position: fixed;
    bottom: 0;
    background-color: #142125;
    left: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
footer div{
    display: inline-block;
}
footer #bleft {
    float: left;
}
footer #bright {
    float: right;
}
footer a {
    vertical-align: middle;
    color: #C9C197;
    text-decoration: none;
    font-family: Tw;
    font-size: 13pt;
}
footer .barre {
    display: inline-block;
    vertical-align: middle;
    background-color: #C9C197;
    width: 2px;
    height: 20px;
}
footer #partagesur {
    font-style: italic;
}
footer .image {
    vertical-align: middle;
    height: 30px;
}

footer .point-navigation{
    height:15px;
    width: 15px;
    cursor: pointer;
    background-image: url(../img/pointplein.png);
}

footer .point-navigation.selected{
    background-image: url(../img/pointvide.png);
}

/*
        STRUCTURE
*/

.intro-outro{
    z-index: 2;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #07181F;
}

#titre #titre-post {
    vertical-align: top;
}
#titre #factureenergetique {
    display: block;
    height: 150px;
    margin-top: 100px;
}
#titre #liencliquez {
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.infobulle{
    position: fixed;
    bottom: 50%;
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    transition: all 1s ease; 
}


.infobulle.left{
    left: -500px;
}

.infobulle.left.opened {
    left:50px;
}

.infobulle.right{
    right: -500px; 
}

#conclu3{
    right: -520px; 
}

#conclu3.right.opened{
    right: 50px; 
}

.infobulle.right.opened {
    right:50px;
}

#bouton-continuer, #bouton-retour{
    position: fixed;
    top: 50%;
    display: none;
}

#bouton-continuer{
    right: 10px;
    color: #CAC09C;
}

#bouton-retour{
    left: 10px;
    color: #CAC09C;
}

#spirale-div{
    vertical-align: middle;
    height: 100%;
    text-align: center;
}

#spirale-img {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*PARTIE HORIZONTALE*/
ul, li {
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover 
{
    text-decoration:none; 
    cursor:pointer;
}

li.image.left, li.website.left, a.website.left{
    float: left;
}

li.image.right, li.website.right, a.website.right{
    float: right;
}

li.website, a.website{
    background-color: #071B1F;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 1.3em;
}

li.website.selected.site0, a.website.selected.site0{
    background-color: #A93721;
}
li.website.selected.site1, a.website.selected.site1{
    background-color: #CF8F0B;
}
li.website.selected.site2, a.website.selected.site2{
    background-color: #FCCE19;
}

#page-wrap{
    display:inline-block;
    vertical-align:middle;
    margin-right: 150px;
    margin-left: 150px;
}

.strut{
    height: 100%;
}

.post, .strut, .arrow{
    display: inline-block;
    vertical-align: middle;
}

#horizontal{
    width: 7200px;
    height: 100%;
    overflow-y: hidden;
}

.section, .transition, .arrow { 
    display: inline-block;
    float: left;
    height: 100%;
}

.section{
    min-width: 1000px;
    background-color: #122A30;
}

h2.section-title{
    font-family: Oswald;
    font-weight: 100;
    color: #CAC09C;
    position: absolute;
    top: 50px;
    min-width: 700px;
}

.transition{
    min-width: 400px;
    background-color: #071B1F;
}

.arrow-container{
    display: inline-block;
    float: left;
    height: 100%;
    background-color: #122A30;
}

.arrow {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #071B1F;
}

.post.no-left-margin{
    margin-left: -6px;
}

.horizontal-limit{
    min-width: 100px;
}

#post-last-section{
    min-width: 200px;
}

.chart, .limit{
    display: inline-block;
}

.petitcarretitre {
    height: 10px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

/*PRESENTATION*/
#presentation {
    width: auto;
    text-align: center;
    float: left;
    padding-right: 200px;
    padding-left: 200px;
}
#presentation .post{
    margin-left: 120px;
    margin-right: 120px;
}

#presentation #pres {
    height: 30px;
}
#presentation h2, #presentation h4, #presentation h5 {
    color: white;
    font-weight: 100;
    font-family: Oswald;
}
#presentation #ptqd {
    font-size: 18px;
    color: #FFD34E;
    letter-spacing: 1px;
    line-height: 25pt;
    margin-top: 50px;
}
#presentation #ptctn {
    font-size: 14px;
    margin-top: 10px;
    letter-spacing: 1px;
}
#presentation #ptpm {
    height: 4px;
    margin-top: 40px;
    margin-bottom: 30px;
}
#presentation #logos img{
    height: 80px;
}
#presentation .ptlogos {
    display: inline-block;
}
#presentation .ptnoms {
    font-size: 15px;
}
#presentation #dm{
    margin-left: 40px;
    margin-right: 40px;	
}
#presentation #ptzoom {
    color: #FFD34E;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 30px;
}
#presentation #ptdon {
    margin-top: 50px;
    font-size: 10pt;
}
#presentation a {
    color: white;
    text-decoration: none;
}

/*SECTION 1*/
#section1 h2.section-title{
    min-width: 650px;
}

#section1 h4 {
    font-weight: 100;
}

#section1{
    background-color: transparent;
}

#section1 svg path{
    cursor:pointer;
}

.arrow-container.dark{
    background-color: transparent;
}

.arrow.bright{
    border-left: 30px solid #10262B;
}

#section1-legend{
    display: inline-block;
    text-align: left;
}

.section1-legend-color, .section1-legend-name{
    display: inline-block;
}

.section1-legend-color{
    width: 10px;
    height: 10px;
    background-color: red;
}

#section1 h5 {
    font-family: Oswald;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 40px;
}
#section1 #section1-legend {
    display: inline-block;
    vertical-align: top;
}
.section1-legend-name {
    font-family: Oswald;
    font-weight: 100;
    font-size: 15px;
    color: #CEC29B;
}

.section1-legend-name.selected{
    color: white;
}

#section1 #section1-websiteList {
    margin-top: 50px;
}


#section1 #section1-legend-milieu {
    margin-top: 15px;
    margin-bottom: 15px;
}


/*SECTION 2*/

#section2-charts, #section2-websiteList, #section2-data{
    display: inline-block;
    vertical-align: middle;
}

#section2-data{
    min-width: 320px;
    font-size: 0.8em;
}

#section2-charts{
    margin-left: 80px;
}

#section2-webisteUl li{
    margin-top: 80px;
    margin-bottom: 80px;
}

.section2-data-container div{
    display: inline-block;
}

.section2-data-container span{
    margin-left: 5px;
    margin-right: 5px;
}

#section2-data-container-lower{
    margin-top: 65px;
}

#section2-dataAmpoules-lower{
    float: right;
    line-height: 5px;
}

#section2-chartQuantiteDonnees{
    text-align: center;
    margin-left: 0px;
}

#section2-bar-chart-container{
    display: inline-block;
    text-align: center;
    min-width: 230px;
}
#section2-sunburst-chart{
    margin-top: 40px;
}

/*SECTION 3*/
#section3 .post{
    min-width: 400px;
}

#section3{
    min-width: 800px;
}

#section3 .section-title{
    min-width: 360px;
}

#section3-websiteList, #section3-chartConsommation{
    display: inline-block;
}

#section3-chartConsommation{
    min-width: 350px;
}

#section3-websiteList{
    float: left;
    margin-top: 10px;
}

#section3-dataAmpoules div, #section3-dataConsommation div{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px; 
}
#section3-dataAmpoules-lower{
    float: right;
    margin-right: 40px;
}

#section3-chartConsommation div{
    margin-top: 30px;
    margin-bottom: 30px;
}

#section3-webisteUl li{
    margin-bottom: 10px;
    color: #CAC09C;
    background-color: transparent;
}

#section3-webisteUl li.selected{
    color: white;
}

/*SECTION 4*/
.hoverinfo{
    color:black;
}

#section4-data-distance{
    margin-top: 70px;
}

#section4-data-terre-lune{
    margin-top: 15px;
}

/*SECTION 4 et 5*/
#section5-place-Ul li{
    color: #CAC09C;
}

#section5-place-Ul li.selected{
    color: white;
}

#section4-websiteUl li, #section5-place-Ul li, #section5-image-list li{
    display: inline-block;
}

#section4-websiteUl, #section5-place-Ul, #section5-image-list{
    width: 700px;
}

/*SECTION 5*/
#section5-place-list{
    margin-top: 30px;
}

#section5-data-left{
    margin-top: 60px;
}

#section5-data-right-container{
    float: right;
    display: inline-block;
}

#section5-data-right-lower{
    float: right;
}

#pourunan, #section5-data-values{
    display: inline-block;
}

#section5-data-values{
    min-width: 500px;
}

/*CREDITS*/
#conclusion .post{
    height: 100%;
}

.credit-title{
    color:#CAC09C;
    margin-bottom: 10px;
}

#conclu-partage img{
    height: 90px;
    margin-left: 10px;
    margin-right: 10px;
}

#credits div{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
}

#credits{
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#conclusion div{
    margin-top: 50px;
}

#recommencer{
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
}